In [1]:
import calendar

# The raw dataset provided as strings with month names and values with commas
dataset = [
    July 2014,"1,839,300"
August 2014,"1,844,300"
September 2014,"1,869,600"
October 2014,"1,896,100"
November 2014,"1,935,500"
December 2014,"1,926,300"
January 2015,"1,915,800"
February 2015,"1,954,100"
March 2015,"1,995,200"
April 2015,"2,027,300"
May 2015,"2,065,300"
June 2015,"2,106,400"
July 2015,"2,132,400"
August 2015,"2,132,700"
September 2015,"2,161,500"
October 2015,"2,196,000"
November 2015,"2,228,800"
December 2015,"2,212,900"
January 2016,"2,187,200"
February 2016,"2,222,100"
March 2016,"2,254,500"
April 2016,"2,276,800"
May 2016,"2,312,700"
June 2016,"2,349,700"
July 2016,"2,365,600"
August 2016,"2,357,000"
September 2016,"2,377,800"
October 2016,"2,399,000"
November 2016,"2,424,600"
December 2016,"2,406,100"
January 2017,"2,368,500"
February 2017,"2,401,500"
March 2017,"2,436,100"
April 2017,"2,451,600"
May 2017,"2,475,500"
June 2017,"2,502,700"
July 2017,"2,504,900"
August 2017,"2,485,400"
September 2017,"2,500,300"
October 2017,"2,524,300"
November 2017,"2,547,400"
December 2017,"2,520,900"
January 2018,"2,482,800"
February 2018,"2,506,800"
March 2018,"2,525,600"
April 2018,"2,545,200"
May 2018,"2,565,600"
June 2018,"2,587,000"
July 2018,"2,585,900"
August 2018,"2,566,300"
September 2018,"2,572,300"
October 2018,"2,592,800"
November 2018,"2,620,500"
December 2018,"2,590,800"
January 2019,"2,554,400"
February 2019,"2,578,300"
March 2019,"2,607,300"
April 2019,"2,626,500"
May 2019,"2,640,500"
June 2019,"2,653,400"
July 2019,"2,644,000"
August 2019,"2,624,000"
September 2019,"2,632,000"
October 2019,"2,649,900"
November 2019,"2,666,400"
December 2019,"2,637,700"
January 2020,"2,599,300"
February 2020,"2,614,300"
March 2020,"2,610,900"
April 2020,"2,532,300"
May 2020,"2,526,100"
June 2020,"2,538,200"
July 2020,"2,531,200"
August 2020,"2,490,200"
September 2020,"2,476,900"
October 2020,"2,479,200"
November 2020,"2,473,700"
December 2020,"2,449,900"
January 2021,"2,412,400"
February 2021,"2,413,900"
March 2021,"2,425,500"
April 2021,"2,471,000"
May 2021,"2,498,700"
June 2021,"2,510,800"
July 2021,"2,494,800"
August 2021,"2,466,300"
September 2021,"2,481,300"
October 2021,"2,491,300"
November 2021,"2,506,000"
December 2021,"2,477,000"
January 2022,"2,444,100"
February 2022,"2,465,200"
March 2022,"2,479,900"
April 2022,"2,485,700"
May 2022,"2,493,700"
June 2022,"2,497,900"
July 2022,"2,484,000"
August 2022,"2,454,000"
September 2022,"2,466,500"
October 2022,"2,480,000"
November 2022,"2,493,700"
December 2022,"2,472,100"
]

# A function to convert the month name to a number
def month_to_num(month_name):
    return {month: index for index, month in enumerate(calendar.month_name) if month}[month_name]

# A function to process each item in the dataset
def process_data(item):
    parts = item.split(",")
    # Extract the year and the month name
    month_name, year = parts[0].split()
    # Convert the month name to a month number
    month_num = month_to_num(month_name)
    # Remove commas from the number and convert to int
    number = int(''.join(parts[1:]))
    # Return the formatted array
    return [f'{year}-{month_num:02d}', number]

# Process each item and collect the results
processed_data = [process_data(item) for item in dataset]

# Print the processed data
processed_data

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1611890469.py, line 5)

In [2]:

# Given dataset
data_entries = [
    "2014-07-01,1839300", "2014-08-01,1844300", "2014-09-01,1869600",
    "2014-10-01,1896100", "2014-11-01,1935500", "2014-12-01,1926300",
    # ... (all other entries)
    "2022-11-01,2493700", "2022-12-01,2472100"
]

# Processing each line to match the target format ['YYYY-MM-DD', value]
processed_entries = [f"['{entry.split(',')[0]}', {int(entry.split(',')[1])}]" for entry in data_entries]

# Each entry is now a string formatted as requested
processed_entries_str = ",\n".join(processed_entries)
processed_entries_str

"['2014-07-01', 1839300],\n['2014-08-01', 1844300],\n['2014-09-01', 1869600],\n['2014-10-01', 1896100],\n['2014-11-01', 1935500],\n['2014-12-01', 1926300],\n['2022-11-01', 2493700],\n['2022-12-01', 2472100]"

In [4]:

# Given dataset
data_entries = [
    "2014-07-01,1839300", "2014-08-01,1844300", "2014-09-01,1869600",
    "2014-10-01,1896100", "2014-11-01,1935500", "2014-12-01,1926300",
    # ... (all other entries)
    "2022-11-01,2493700", "2022-12-01,2472100"
]

# Processing each line to match the target format ['YYYY-MM-DD', value]
processed_entries = [f"['{entry.split(',')[0]}', {int(entry.split(',')[1])}]" for entry in data_entries]

# Each entry is now a string formatted as requested
processed_entries_str = ",".join(processed_entries)
processed_entries_str

"['2014-07-01', 1839300],['2014-08-01', 1844300],['2014-09-01', 1869600],['2014-10-01', 1896100],['2014-11-01', 1935500],['2014-12-01', 1926300],['2022-11-01', 2493700],['2022-12-01', 2472100]"

In [5]:

data_entries = [
2014-07-01,1839300
2014-08-01,1844300
2014-09-01,1869600
2014-10-01,1896100
2014-11-01,1935500
2014-12-01,1926300
2015-01-01,1915800
2015-02-01,1954100
2015-03-01,1995200
2015-04-01,2027300
2015-05-01,2065300
2015-06-01,2106400
2015-07-01,2132400
2015-08-01,2132700
2015-09-01,2161500
2015-10-01,2196000
2015-11-01,2228800
2015-12-01,2212900
2016-01-01,2187200
2016-02-01,2222100
2016-03-01,2254500
2016-04-01,2276800
2016-05-01,2312700
2016-06-01,2349700
2016-07-01,2365600
2016-08-01,2357000
2016-09-01,2377800
2016-10-01,2399000
2016-11-01,2424600
2016-12-01,2406100
2017-01-01,2368500
2017-02-01,2401500
2017-03-01,2436100
2017-04-01,2451600
2017-05-01,2475500
2017-06-01,2502700
2017-07-01,2504900
2017-08-01,2485400
2017-09-01,2500300
2017-10-01,2524300
2017-11-01,2547400
2017-12-01,2520900
2018-01-01,2482800
2018-02-01,2506800
2018-03-01,2525600
2018-04-01,2545200
2018-05-01,2565600
2018-06-01,2587000
2018-07-01,2585900
2018-08-01,2566300
2018-09-01,2572300
2018-10-01,2592800
2018-11-01,2620500
2018-12-01,2590800
2019-01-01,2554400
2019-02-01,2578300
2019-03-01,2607300
2019-04-01,2626500
2019-05-01,2640500
2019-06-01,2653400
2019-07-01,2644000
2019-08-01,2624000
2019-09-01,2632000
2019-10-01,2649900
2019-11-01,2666400
2019-12-01,2637700
2020-01-01,2599300
2020-02-01,2614300
2020-03-01,2610900
2020-04-01,2532300
2020-05-01,2526100
2020-06-01,2538200
2020-07-01,2531200
2020-08-01,2490200
2020-09-01,2476900
2020-10-01,2479200
2020-11-01,2473700
2020-12-01,2449900
2021-01-01,2412400
2021-02-01,2413900
2021-03-01,2425500
2021-04-01,2471000
2021-05-01,2498700
2021-06-01,2510800
2021-07-01,2494800
2021-08-01,2466300
2021-09-01,2481300
2021-10-01,2491300
2021-11-01,2506000
2021-12-01,2477000
2022-01-01,2444100
2022-02-01,2465200
2022-03-01,2479900
2022-04-01,2485700
2022-05-01,2493700
2022-06-01,2497900
2022-07-01,2484000
2022-08-01,2454000
2022-09-01,2466500
2022-10-01,2480000
2022-11-01,2493700
2022-12-01,2472100
]

# Processing each line to match the target format ['YYYY-MM-DD', value]
processed_entries = [f"['{entry.split(',')[0]}', {int(entry.split(',')[1])}]" for entry in data_entries]

# Each entry is now a string formatted as requested
processed_entries_str = ",".join(processed_entries)
processed_entries_str

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (602626795.py, line 2)